@import "tailwindcss";


@theme {
  --color-light-old: #f8f7e3;
  --color-medium: #d1d8d0;
  --color-light: #eff0e0;
  --color-dark: #353535;
  --color-light-blue: #7E9AA6;
  --color-dark-blue: #284b63;
  --background-image-hero-img: url('../public/background-2250.jpg');
}

@theme inline {
  /* --font-sans: var(--font-roboto); */
  --font-serif: var(--font-playfair);
}

body {
  background-color: var(--color-light);
  font-family: var(--font-roboto);
  color: var(--color-dark);
}

#body-container {
  scrollbar-gutter: stable;
}

h1, h3 {
  font-family: var(--font-playfair);
}

/* Utility Classes */

@utility no-scrollbar {
  @apply [scrollbar-width:none] [&::-webkit-scrollbar]:hidden;
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
  -webkit-box-shadow: 0 0 0px 1000px #f6f3f4 inset;
  transition: background-color 5000s ease-in-out 0s;
}

.text-input input {
  @apply bg-gray-100 p-1 flex-1;
}

/* 
.home-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;
  scroll-snap-type: y mandatory;
}
.home-scroll > section {
  scroll-snap-align: center;
} */